*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: 40px 0;
}


.my-container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 120px;
    width: 120px;
    background-color: lightcoral;
    border: 5px solid lightgoldenrodyellow;
    text-align: center;
    vertical-align: middle;
    line-height: 120px ;
}