*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: 40px 0;
}


.my-container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{

    background-color: lightcoral;
    border: 5px solid lightgoldenrodyellow;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;;
}
.box-100{
    height: 120px;
    width: 120px;
    line-height: 120px ;
}
.box-81{
    height: 133px;
    width: 133px;
    line-height: 133px ;
}
.box-49{
    height: 171px;
    width: 171px;
    line-height: 171px ;
}
.bkg-color{
    background-color: lightgreen;
}